.formBase{
    width: 100%;
    height: 100%;
}


.formBase table tr td{
    padding-left: 20px;
    padding-right: 20px;
}

.formHeader {
    font-size: 25px;
    color: #290682;
    height: 40px;
}

.formHeader td{
    text-align: center;
}

.formSpaceSeparator{
    height: 20px;
}

.formLineSeparator{
    width: 100%;
    height: 2px;
    background-color: #eeeeee;
}

.formItemRow {
    height: 50px;
}

.formCompactItemRow {
    height: 30px;
}

.formParamCaption {
    width: 270px;
    text-align: left;
    font-size: 17px;
}

.formParamValue{
    width: 100%;
}

.formNumberParamValue{
    width: 100px;
}

.formCheckboxParamValue{
    width: 18px;
}

.innerRef {
    cursor: pointer;
    color: inherit;
}

.activeItem{
    font-size: 17px;
    cursor: pointer;
    color: #000088;
}

.form-active-test{
    font-size: 17px;
    cursor: pointer;
    color: #000066;
}

/*Раздеелитель пути на заголовках страниц*/
.menuPathSeparator{
    color: gray;
}


.form-flex-vertical-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.form-flex-horizontal-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.form-animate-border{
    transition: border 100ms ease-in;
    -webkit-transition: border 100ms ease-in;
    -moz-transition: border 100ms ease-in;
    -o-transition: border 100ms ease-in;
}

.form-animate-box-shadow{
    transition: box-shadow 100ms ease-in;
    -webkit-transition: box-shadow 100ms ease-in;
    -moz-transition: box-shadow 100ms ease-in;
    -o-transition: box-shadow 100ms ease-in;
}

.form-animate-text-shadow{
    transition: text-shadow 100ms ease-in;
    -webkit-transition: text-shadow 100ms ease-in;
    -moz-transition: text-shadow 100ms ease-in;
    -o-transition: text-shadow 100ms ease-in;
}

.form-animate-color{
    transition: color 100ms ease-in;
    -webkit-transition: color 100ms ease-in;
    -moz-transition: color 100ms ease-in;
    -o-transition: color 100ms ease-in;
}

.form-animate-opacity{
    transition: opacity 100ms ease-in;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    -o-transition: opacity 100ms ease-in;
}

/* надпись запрещенного поля */
.form-container-field-disabled{
    color: silver;
}
