.indexContainer {
    width: 100%;
    height: 100%;
}

.indexHorizontalContainer {
    width: 100%;
    height: 1px;
}

.catalogContainer {
    width: 1px;
    background-color: #4cae4c;
}

.pageContextContainer{
    width: 4096px;
    padding-top: 10px;
    background-color: white;
}

body, html {
    width: 100%;
    height: 100%;
    min-width: 910px;
}

.mainDiv{
    width: 100%;
    height: 100%;
}

.statusDiv{
    position: absolute;
    left: 0;
    right: 0;
    width: 50mm;
    height: 10mm;
    border: solid 2px black;
}

.redStatus{
    background-color: red;
    color: yellow;
}

.greenStatus{
    background-color: green;
    color: white;
}

.deviceLed{
    text-align: center;
}

.stationLed{
    overflow: auto;
}